# Project folders for binary files
bin

# Template c++ files
*.tmpl.cpp
*.tmpl-cpp

# Catch (C++ unit test framework)
tests/src/catch.hpp

# Coverage report
tests/report.xml
*.gcno
*.gcda

# Visual Studio files
ipch
Debug
Release
.vs
*.vcxproj.user
*.sdf
*.VC.opendb
*.VC.db

# Linux build files
.d
*.d
*.gch

# Sublime text projects
*.sublime-project
*.sublime-workspace

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Binary files
*.exe
*.dll
*.so
*.a
*.o

# Images
*.psd
*.png
*.jpg
*.jpeg
