<% c++ #include "data/base.h" %>
<% skin main %>
<% view index uses data::base %>
<% template render() %><!DOCTYPE html>
<html>
<head>
	<title><%= website_name %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="content">
		<h1><%= website_name %></h1>
		<p>Should have links to TLJ transcript, Dreamfall transcript and Dreamfall Chapters transcript.</p>
	</div>
</body>
</html>
<% end template %>
<% end view %>
<% end skin %>
